.App{
    box-sizing: border-box;
    margin: 0 0px;
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5f6368;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;

}

.header-box a{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}
.app, .cart-icon{
    padding: 10px;
}


.main{
    margin: 10px;
    border: 1px solid #5f6368;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;

}
.products{
    border: 1px solid #5f6368;
    border-radius: 15px;
    padding: 5px;
    flex: 2;
    flex-wrap: wrap;
    max-width: 80%;
}
.cart{
    border: 1px solid #5f6368;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    flex: 1;
    max-width: 20%;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item{
    border: 1px solid #5f6368;
    border-radius: 15px;
    margin: 3px;
    flex: 1 1 auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.item img{
    max-width: 4rem;
    /* object-fit: fill; */
}