.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #f8f8f8; */
    /* position: relative; */
    z-index: 0;
    width: 100%;
    height: 250px;
    background-color: var(--bs-gray-100);
    /* position: fixed; */
    /* bottom: 0; */
    /* padding-top: 100%; */
}
.footer * {
    background-color: var(--bs-gray-100);
}
.footer_widget {
    height: 100%;
}
.footer .footer_widget .footer_title {
    font-size: 25px;
    font-weight: 500;
    color: #2e2e2e;
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    font-family: "Poppins", sans-serif;
}
.footer .footer_widget .footer_links ul {
    padding-inline-start: 0;
}
.footer .footer_widget .footer_links ul li {
    list-style: none;
    padding-block: 0.25rem;
    color: var(--cs-light);
}
.footer .footer_widget .footer_links ul li a {
    color: var(--cs-light);
    text-decoration: none;
}
.footer .footer_widget .footer_links ul li a:hover {
    color: var(--cs-orange);
    border-color: transparent;
}
