.slide-area {
    background-image: url("../images/banner/banner.png");
    background-size: cover;
    background-position: center center;
    background-position: bottom;
    background-repeat: no-repeat;
}
.slide-bg {
    height: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    .slide-area {
        height: 300px;
    }
}
@media (min-width: 768px) {
    .slide-area {
        height: 600px;
        /* padding-block-end: 200px; */
    }
}
.slide-text h2,
.slide-text h3,
.slide-text p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 4px;
}

.dog-area {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.dog-area > img {
    position: absolute;
    top: 20%;
    /* left: 0; */
    right: 10%;
    /* transform: translate(-50%, 10%); */
    width: 100%;
}
