.contact_area.contact_area_bg {
    background-image: url("../images/banner/contact_bg.png");
    /* width: 100%; */
}
.contact_area {
    background-position: center center;
    background-size: cover;
    padding-block: 5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}
@media (max-width: 767px) {
    .contact_area {
        padding-block: 3rem;
    }
}
